@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  background-color: #abc344;
}

.container {
  width: 90vw;
  margin: 0 auto;
  max-width: 40rem;
  margin-top: 7rem;
  text-align: center;
}

.underline {
  height: 0.3rem;
  width: 6rem;
  background-color: #1f178a;
  margin: 1rem auto;
}
.my-form label {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
.my-form input {
  display: block;
  margin: 1rem auto;
  width: 15%;
  padding: 0.2rem 0.3rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid #1f178a;

  color: #fff;
  transition: all 0.2s linear;
}
.my-form input:focus {
  width: 50%;
  background-color: #1f178a;
}
.primary-btn {
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: brown;
  color: white;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: all 0.2s;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.primary-btn:hover {
  background-color: #1f178a;
  color: white;
}
.title {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: brown;
}

li {
  list-style: none;
  display: flex;
  margin: 1rem 0;
  border-bottom: 1px dotted #1f178a;
}
li p {
  margin-left: 1rem;
}
li span {
  color: #1f178a;
}

@media screen and (min-width: 992px) {
  .container {
    width: 95vw;
  }
}
@media screen and (max-width: 600px) {
  p {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 1.3rem;
  }
  input:focus {
    width: 30%;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
